services:
  taxes:
    build:
      context: .
      dockerfile: docker/Dockerfile
    environment:
      PYTHONUNBUFFERED: "1"
    volumes:
      - .:/app
    command: ["irs-fifo-taxes", "--input-file", "asset_tx.csv", "--output-file", "form8949.csv"]